/docs/
/lib/
/bin/
/build/
/.shards/
*.dwarf

# macOS specific ignores
.DS_Store

# windows specific ignores (crystal version manager)
/.vfox/
*.vfox*


# Libraries don't need dependency lock
# Dependencies will be locked in applications that use them
/shard.lock

# pi AI agent specfic project settings, context, skills, extensions
.pi/

# Gemini CLI AI agent specfic project settings, context, skills, extensions
.gemini/
/GEMINI.md

# AI info, but doesn't need to be committed (too annoying when refining tickets)
/GAME_CONTEXT.md
